extends layout

block content
  // Modal add checkin
  #checkinModal.modal.fade(role='dialog', tabindex='-1')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            h4
              |  Add your checkin
              
          .modal-message
            #checkinMessage   
            
          .modal-body
            .form-group
              label(for='place')
                span.glyphicon.glyphicon-map-marker
                |  Place
              |
              input#place.form-control(type='text')
            |
            .form-group
              label(for='description')
                span.glyphicon.glyphicon-pencil
                |  Description
              |
              textarea#description.form-control(type='text', rows='3')
            |
            button#sub.btn.btn-success.btn-block(type='submit')
              span.glyphicon.glyphicon-off
              |  Add checkin
          |
          
              
  // Modal login  
  #loginModal.modal.fade(role='dialog', tabindex='-1')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            h4
              |  Login
                        
          .modal-message
            #message              

          .modal-body
            .form-group
              label(for='email')
                span.glyphicon.glyphicon-user
                |  Email
              |
              input#email.form-control(type='text')
            |
            .form-group
              label(for='password')
                span.glyphicon.glyphicon-eye-open
                |  Password
              |
              input#password.form-control(type='password')
            |
            button#loginSubmit.btn.btn-success.btn-block(type='submit')
              span.glyphicon.glyphicon-off
              |  Login
          |
          
  // Modal sign up
  #signModal.modal.fade(role='dialog', tabindex='-1')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            h4
              |  Sign up
              
          .modal-message
            #signMessage
            
          .modal-body
            .form-group
              label(for='signName')
                span.glyphicon.glyphicon-map-user
                |  Name
              |
              input#signName.form-control(type='text')
            |
            .form-group
              label(for='signEmail')
                span.glyphicon.glyphicon-map-envelope
                |  Email
              |
              input#signEmail.form-control(type='text')
            |
            .form-group
              label(for='signPassword')
                span.glyphicon.glyphicon-map-eye-open
                |  Password
              |
              input#signPassword.form-control(type='password')
            |
            .form-group
              label(for='signAccount')
                span.glyphicon.glyphicon-map-globe
                |  Twitter account
              |
              input#signAccount.form-control(type='text')
            |
            button#signSubmit.btn.btn-success.btn-block(type='submit')
              span.glyphicon.glyphicon-ok-sing
              |  Sign up
            |  
            
  // Modal change profile
  #profileModal.modal.fade(role='dialog', tabindex='-1')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            h4
              |  Profile
              
          .modal-message
            #profileMessage
            
          .modal-body
            .form-group
              label(for='profileName')
                span.glyphicon.glyphicon-map-user
                |  Name
              |
              input#profileName.form-control(type='text')
            |
            .form-group
              label(for='profileEmail')
                span.glyphicon.glyphicon-map-envelope
                |  Email
              |
              input#profileEmail.form-control(type='text')
            |
            .form-group
              label(for='profilePassword')
                span.glyphicon.glyphicon-map-eye-open
                |  Password
              |
              input#profilePassword.form-control(type='password')
            |
            .form-group
              label(for='profileAccount')
                span.glyphicon.glyphicon-map-globe
                |  Twitter account
              |
              input#profileAccount.form-control(type='text')
            |
            button#profileSubmit.btn.btn-success.btn-block(type='submit')
              span.glyphicon.glyphicon-ok-sing
              |  Save changes
            | 
            button#profileDelete.btn.btn-danger.btn-block(type='submit')
              span.glyphicon.glyphicon-minus-sing
              |  Remove account
            | 
  // Modal edit checkin
  #editCheckinModal.modal.fade(role='dialog', tabindex='-1')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal') &times;
            h4
              |  Edit checkin
              
          .modal-message
            #editCheckinMessage
            
          .modal-body
            .form-group
              label(for='editCheckinPlace')
                span.glyphicon.glyphicon-map-marker
                |  Place
              |
              input#editCheckinPlace.form-control(type='text')
            |
            .form-group
              label(for='editCheckinDescription')
                span.glyphicon.glyphicon-pencil
                |  Description
              |
              textarea#editCheckinDescription.form-control(type='text', rows='3')
            |
            button#editCheckinSubmit.btn.btn-success.btn-block(type='submit')
              span.glyphicon.glyphicon-ok-sing
              |  Save changes
            | 
            button#editCheckinDelete.btn.btn-danger.btn-block(type='submit')
              span.glyphicon.glyphicon-minus-sing
              |  Remove checkin
            | 
              
  // Modal add comment
  #commentModal.modal.fade(role='dialog', tabindex='-1')
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') &times;
          h4
            |  Add your comment
          
        .modal-body
          #starRaiting.form-group
            span#star1(data-rait='1')
            span#star2(data-rait='2')
            span#star3(data-rait='3')
            span#star4(data-rait='4')
            span#star5(data-rait='5')
            
          .form-group
            label(for='addComment')
              span.glyphicon.glyphicon-pencil
              |  Comment
            |
            textarea#addComment.form-control(type='text', rows='3')
          |
          button#commentSubmit.btn.btn-success.btn-block(type='submit')
            span.glyphicon.glyphicon-off
            |  Add comment
          |                    
            
  #commentsPanel
    .modal-header
      button.close(type='button', onclick="closeComments()")
        span(aria-hidden='true') &times;
      h5
        |  Comments
    #comments                     
  #map
  
  script(src="/js/google_api.js")
  //script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjRkTyIgkok7xjNW7hjsCqSVrOr1Vm-gI&callback=initMap" async defer)
  //script(src="/js/markerclusterer.js")
