extends layout

block content
  // Modal add checkin
  #checkinModal.modal.fade(role='dialog', tabindex='-1')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header(style='padding:25px 30px;')
            h4
              |  Add your checkin
            button.close(type='button', data-dismiss='modal') &times;

          .modal-body(style='padding:20px 30px;')
            .form-group
              label(for='place')
                span.glyphicon.glyphicon-user
                |  Place
              |
              input#place.form-control(type='text')
            |
            .form-group
              label(for='description')
                span.glyphicon.glyphicon-eye-open
                |  Description
              |
              textarea#description.form-control(type='text', rows='3')
            |
            button#sub.btn.btn-success.btn-block(type='submit', data-dismiss='modal')
              span.glyphicon.glyphicon-off
              |  Add checkin
          |
          .modal-footer
            button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal')
              span.glyphicon.glyphicon-remove
              |  Cancel
              
  // Modal login  
  #loginModal.modal.fade(role='dialog', tabindex='-1')
      .modal-dialog
        // Modal content
        .modal-content
          .modal-header(style='padding:25px 30px;')
            h4
              |  Login
            button.close(type='button', data-dismiss='modal') &times;
            
          .modal-message
            #message(style='text-align:center; padding:10px; color:red')
              

          .modal-body(style='padding:10px 30px 20px 30px;')
            .form-group
              label(for='name')
                span.glyphicon.glyphicon-user
                |  Name
              |
              input#name.form-control(type='text')
            |
            .form-group
              label(for='password')
                span.glyphicon.glyphicon-eye-open
                |  Password
              |
              input#password.form-control(type='text')
            |
            button#loginSubmit.btn.btn-success.btn-block(type='submit')
              span.glyphicon.glyphicon-off
              |  Login
          |
  p= message
  div#map
  script(src="/js/google_api.js")
