extends layout

block content
  h3 Add new user
  form(action="/users/add" method="post")
    .form-group
      label.col-sm-2.col-form-label(for='name') User name:
      .col-sm-4
        input.form-control(name='name', type='text')
    .form-group
      label.col-sm-2.col-form-label(for='email') User email:
      .col-sm-4
        input.form-control(name='email', type='text')
    .form-group
      label.col-sm-2.col-form-label(for='password') User password:
      .col-sm-4
        input.form-control(name='password', type='text')
    .form-group
      label.col-sm-2.col-form-label(for='account') Tweeter account:
      .col-sm-4
        input.form-control(name='twitter_account', type='text')
    .form-group
      .col-sm-4
        button.btn.btn-success(type="submit") Save user
  p
  a(href="/users") Back to users
