body {
}

.navbar-default {
    background-color: #5cb85c;
    border-color: #27ae60;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #d1ffed;
}

.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d1ffed;
}

.container {
  width: 100%;
  padding: 0;
}

.navbar {
  margin: 0;
}

#map{
	height: 595px;
}

.total-raiting, .total-comments {
  display: inline;
}

strong {
  font-size: 15px;
  padding-right: 7px;
}

.window-text {
  font-size: 15px;
  padding: 10px 0 10px 0;
}

#signMessage, #message {
  text-align:center;
  padding:10px;
  color:red
}

.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
      padding:10px 25px;
}

.modal-body {
  padding:10px 30px 20px 30px;
}

.modal-footer {
  background-color: #f9f9f9;
}

#commentsPanel {
  height: 595px;
  display:none;
  float:left;
  width:25%;
}

#commentsPanel .modal-header {
  text-align: left;
  padding: 10px;
}

#comments {
  overflow: auto;
  height: 100%;
}

.comment-name {
  font-size: 20px;
  padding: 10px;
}

.comment-raiting {
  padding: 5px;
}

.comment-text {
  padding: 5px;
}

.glyphicon-star {
  color: orange;
}

hr {
  padding: 3px;
}

.window-links a{
  margin: 0 20px;
}
